Repository PythonReforker/vk.py, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, need-docs, documentation, cfg-change

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

need-docs:
  - vk/*

documentation:
  - docs/
  - mkdocs.yml

cfg-change:
  - pyproject.toml
  - .travis.yml
  - Makefile
  - mkdocs.yml
  - .gitignore
  - requirements.txt

absolute import
  vk/utils/vkscript/__init__.py
  vk/utils/vkscript/handlers/assignments.py
  vk/utils/vkscript/handlers/blocks.py
  vk/utils/vkscript/handlers/calls.py
  vk/utils/vkscript/handlers/expressions.py
  vk/utils/vkscript/handlers/statements.py
  vk/utils/vkscript/handlers/types.py
Labels: none

Maintainer is looking; PM to me at telegram if you want.
  README.md
Labels: repo

fixed appWidgets.update method
  CONTRIBUTING.md
  vk/methods/api.py
  vk/methods/appwidgets.py
Labels: repo

normal fix of appwidgets
  vk/methods/api.py
  vk/methods/appwidgets.py
Labels: none

changed attribute name to snake case
  vk/methods/api.py
Labels: none

update examples and docs
  README.md
  docs/index.md
  examples/bot_framework/background_task.py
  examples/bot_framework/blueprints.py
  examples/bot_framework/caching.py
  examples/bot_framework/chat_events.py
  examples/bot_framework/command_with_args.py
  examples/bot_framework/cooldown.py
  examples/bot_framework/datacheck_rule.py
  examples/bot_framework/described_handlers.py
  examples/bot_framework/keyboards.py
  examples/bot_framework/named_rule.py
  examples/bot_framework/redis_storage.py
  examples/bot_framework/reply_and_fwd_messages.py
  examples/bot_framework/simple_bot.py
  examples/bot_framework/simple_middleware.py
  examples/bot_framework/simple_rule.py
  examples/bot_framework/sort_by_peer_id.py
  examples/bot_framework/storage_use.py
Labels: repo

added text_contains rule
  README.md
  vk/bot_framework/rules/rules.py
  vk/constants.py
Labels: repo, need-docs

added templates for carousels and add_link_button method for keyboards
  examples/bot_framework/carousel_template.py
  vk/keyboards/__init__.py
  vk/keyboards/keyboard.py
  vk/methods/messages.py
  vk/types/message.py
Labels: none

added status methods
  README.md
  vk/methods/__init__.py
  vk/methods/api.py
  vk/methods/status.py
  vk/types/responses/status.py
Labels: repo

Added working solution AuthManager
  vk/utils/auth_manager.py
  vk/utils/json_conflicting with code session!!!!.py
Labels: none

fix
  vk/utils/auth_manager.py
  vk/utils/json.py
Labels: none

changed auth_manager and added example with it
  README.md
  examples/auth_manager_example.py
  requirements.txt
  vk/utils/auth_manager.py
Labels: repo, cfg-change

deleted useless things in auth manager
  vk/exceptions/__init__.py
  vk/exceptions/errors_auth.py
  vk/utils/auth_manager.py
Labels: none

minor fixes in auth_manager
  examples/auth_manager_example.py
  vk/utils/auth_manager.py
Labels: none

Add flexible delay setting and request retry function
  vk/exceptions/errors_dispatcher.py
Labels: none

changes in tests and docs
  README.md
  docs/index.md
  tests/test_auth_manager.py
Labels: repo

changed auth_manager and added example with it
  README.md
  examples/auth_manager_example.py
  requirements.txt
  vk/utils/auth_manager.py
Labels: repo, cfg-change

changes in tests and docs
  README.md
  docs/index.md
  tests/test_auth_manager.py
Labels: repo

minor fixes in auth_manager
  examples/auth_manager_example.py
  vk/utils/auth_manager.py
Labels: none

deleted useless things in auth manager
  vk/exceptions/__init__.py
  vk/exceptions/errors_auth.py
  vk/utils/auth_manager.py
Labels: none

add support UserLongPoll
  vk/longpoll/__init__.py
  vk/longpoll/user/longpoll.py
  vk/utils/auth_manager.py
Labels: none

Rewritten Event class with pydantic
  vk/longpoll/user/longpoll.py
Labels: none

fix default extensions
  vk/bot_framework/extensions/kafka.py
  vk/bot_framework/extensions/rabbitmq.py
Labels: none

Add optimizations in UserLongPoll
  vk/longpoll/user/longpoll.py
Labels: none

UserLongPoll back to version 10
  vk/longpoll/user/longpoll.py
Labels: none

Improved APIErrorHandler with russian languages
  vk/exceptions/errors_dispatcher.py
  vk/vk.py
Labels: need-docs

Fix and improve ErrorInfo for ErrorDispatcher
  vk/exceptions/__init__.py
  vk/exceptions/errors.py
  vk/exceptions/errors_dispatcher.py
  vk/vk.py
Labels: need-docs

Changed author and maintainer to PythonReforker
  LICENSE
  README.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  vk/__init__.py
Labels: repo, need-docs, documentation, cfg-change

Changed invalid nickname
  README.md
Labels: repo

Author change fix 2
  docs/index.md
Labels: none

Changed invalid nickname
  README.md
Labels: repo

Year change to 2020
  README.md
Labels: repo

Author change fix 2
  docs/index.md
Labels: none
