Repository PythonReforker/vk.py, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, need-docs, documentation, cfg-change

delete not necessary warning in readme
  README.md
Labels: repo

Upgrade tests
  tests/conftest.py
  tests/test_auth.py
  tests/test_auth_manager.py
  tests/test_handling_bad_auth.py
  tests/test_vk.py
Labels: none

plain change in makefile
  Makefile
Labels: repo, cfg-change

some additions for #31
  .pre-commit-config.yaml
  vk/utils/mixins.py
Labels: repo

change readme for first alpha of 1.0.0
  README.md
  pyproject.toml
Labels: repo, cfg-change

some fixes in readme
  README.md
Labels: repo

and.. one more fix
  README.md
Labels: repo

update classifiers
  pyproject.toml
Labels: repo, cfg-change

some important fixes, and publish the 1.1 alpha
  README.md
  pyproject.toml
  vk/bot_framework/__init__.py
  vk/bot_framework/dispatcher/dispatcher.py
  vk/bot_framework/rules/rules.py
Labels: repo, cfg-change

change to alpha2
  README.md
  pyproject.toml
Labels: repo, cfg-change

update readme and some stuff
  README.md
  pyproject.toml
Labels: repo, cfg-change

fix indent
  README.md
Labels: repo

oops.
  README.md
Labels: repo

Deployed 96c5f9f with MkDocs version: 1.0.4
  first-steps-background/index.html
  first-steps-vk/index.html
  index.html
  install/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

new docs
  docs/first-steps-background.md
  docs/first-steps-vk.md
  docs/index.md
  docs/install.md
  mkdocs.yml
Labels: repo, documentation, cfg-change

add concept of async auth but rework is really needed #25
  vk/utils/auth_manager.py
Labels: none

added universal json decode error exception
  vk/constants.py
  vk/utils/auth_manager.py
Labels: need-docs

Deployed c14942a with MkDocs version: 1.0.4
  first-steps/auth/index.html
  first-steps/background/index.html
  first-steps/install/index.html
  first-steps/vk/index.html
  index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: repo

update docs
  docs/first-steps/auth.md
  docs/first-steps/background.md
  docs/first-steps/install.md
  docs/first-steps/vk.md
  mkdocs.yml
Labels: repo, documentation, cfg-change

made possible to add coroutines as tasks in task manager
  vk/utils/task_manager.py
Labels: none

normalize exceptions
  vk/exceptions/errors.py
  vk/exceptions/errors_dispatcher.py
Labels: none

release 3rd alpha of 1.0.0 (some small changes)
  README.md
  pyproject.toml
Labels: repo, cfg-change

fix dependency conflict and... release 4 alpha
  pyproject.toml
Labels: repo, cfg-change

process httpexceptions
  README.md
  vk/vk.py
Labels: repo, need-docs

fix for bad json
  vk/vk.py
Labels: need-docs

Fixed grammar issues in source code (#36)
  vk/background.py
  vk/bot_framework/__init__.py
  vk/bot_framework/addons/__init__.py
  vk/bot_framework/addons/caching/cached_object.py
  vk/bot_framework/addons/caching/core.py
  vk/bot_framework/addons/cooldown.py
  vk/bot_framework/addons/validators/__init__.py
  vk/bot_framework/addons/validators/validators.py
  vk/bot_framework/dispatcher/blueprints.py
  vk/bot_framework/dispatcher/dispatcher.py
  vk/bot_framework/dispatcher/extension.py
  vk/bot_framework/dispatcher/handler.py
  vk/bot_framework/dispatcher/middleware.py
  vk/bot_framework/dispatcher/rule.py
  vk/bot_framework/dispatcher/storage.py
  vk/bot_framework/extensions/kafka.py
  vk/bot_framework/rules/rules.py
  vk/constants.py
  vk/exceptions/errors_dispatcher.py
  vk/keyboards/keyboard.py
  vk/methods/account.py
  vk/methods/apps.py
  vk/methods/appwidgets.py
  vk/methods/auth.py
  vk/methods/board.py
  vk/methods/database.py
  vk/methods/docs.py
  vk/methods/fave.py
  vk/methods/friends.py
  vk/methods/gifts.py
  vk/methods/groups.py
  vk/methods/leads.py
  vk/methods/likes.py
  vk/methods/market.py
  vk/methods/messages.py
  vk/vk.py
Labels: need-docs

pin version
  README.md
  pyproject.toml
Labels: repo, cfg-change

fix bug and pin version
  README.md
  pyproject.toml
  vk/utils/mixins.py
Labels: repo, cfg-change

update readme
  README.md
Labels: repo

fix for #37
  vk/bot_framework/dispatcher/dispatcher.py
  vk/vk.py
Labels: need-docs

improve type checks
  vk/utils/vkscript/execute.py
Labels: none

be more typing compilant
  vk/utils/vkscript/execute.py
Labels: none

use much pretty way
  vk/utils/vkscript/execute.py
Labels: none

simple fix
  vk/utils/vkscript/execute.py
Labels: none

fix tests for #37
  tests/test_vk.py
Labels: none

add possibility don't override token by default
  vk/vk.py
Labels: need-docs

more logging
  vk/utils/task_manager.py
Labels: none

delete auth manager; WIP: auth
  README.md
  vk/utils/auth_manager.py
Labels: repo

don't create dict everytime
  vk/utils/vkscript/handlers/types.py
Labels: none

delete outdated test
  tests/test_auth_manager.py
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

need-docs:
  - vk/*

documentation:
  - docs/
  - mkdocs.yml

cfg-change:
  - pyproject.toml
  - .travis.yml
  - Makefile
  - mkdocs.yml
  - .gitignore
  - requirements.txt
